<div class="flex items-center justify-center h-full">
    <p-card>
        <ng-template #header>
            <div class="flex flex-col items-center gap-2 p-4">
                <h2 class="text-2xl font-bold m-0">Iniciar Sesión</h2>
            </div>
        </ng-template>
        <form #exampleForm="ngForm" (ngSubmit)="onSubmit(exampleForm)" class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
                <input pInputText type="email" id="email" name="email" placeholder="Correo" [(ngModel)]="user.email" #email="ngModel" required email [invalid]="email.invalid && (email.touched || exampleForm.submitted)" class="w-full" />
                @if (email.invalid && (email.touched || exampleForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">
                        @if (email.hasError('required')) {
                            Correo es requerido.
                        }
                        @if (email.hasError('email')) {
                            Ingrese un correo valido.
                        }
                    </p-message>
                }
            </div>
            <div class="flex flex-col gap-1">
                <input pInputText type="password" id="password" placeholder="Contraseña" name="password" [(ngModel)]="user.password" #password="ngModel" [invalid]="password.invalid && (password.touched || exampleForm.submitted)" required class="w-full" />
                @if (password.invalid && (password.touched || exampleForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">Contraseña es requerida.</p-message>
                }
            </div>
            <button pButton severity="primary" type="submit" label="Entrar" class="w-full"></button>
            <p class="text-center text-sm m-0">¿No tienes cuenta? <a routerLink="/auth/register" class="text-primary cursor-pointer">Regístrate</a></p>
        </form>
    </p-card>
</div>